.account {
  display: flex;
  align-items: center;
  gap: 24px;

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    gap: 8px;
  }



  a {
    display: inline-block;
    transition: all 0.2s ease-in;
  }

  a:hover {
    background: var(--neutral-grayededed);
  }

}

ul.account {
  font-size: 0;
}

.account__menu {
  display: none;

  @include mobile {
    display: block;
  }
}

.account__person {
  @include mobile {
    display: none;
  }
}